<!-- LOGIN FORM -->
<section class="login">
    <div class="login_box">
        <div class="left">
            <form action="">
                <h2 class="text-center">Log In</h2> <hr>
                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">

                    <div class="mb-3">
                        <label for="mail" class="form-label">Email</label>
                        <input type="email" ngModel class="form-control" name="mail" id="mail" placeholder="Enter email address" formControlName="mail">
                        <span style="color: red;" *ngIf="mail && mail.invalid && mail.touched">Please enter a valid email</span>
                    </div>

                    <div class="mb-3" id="pswd">
                        <label for="password" class="form-label">Password</label>
                        <input [type]="active?'text':'password'" ngModel class="form-control" id="password" name="password" placeholder="Enter password" formControlName="password">
                        <span style="color: red;" *ngIf="password && password.invalid && password.touched">Please enter a valid password</span>
                    </div>

                    <div className='mb-2'>
                        <input type='checkbox' className='custom-control custom-checkbox' id='check'/>
                        <label htmlFor='check' className='custom-input-label ms-2'>
                            I agree to the terms and conditions!
                        </label>
                        </div>
                      
                    <div class="text-center">
                        <button type="submit" className="btn-primary"> LogIn </button> <br>
                        
                    </div>
                </form>
            </form>
        </div>
        
     </div>
    </section>
<!-- [disabled]="loginForm.invalid" -->
